*{
	margin: 0;
	padding: 0;
	font-family: 'Mandali', sans-serif;
}
body{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(bcars.jpg);
	background-position: center;
	background-size: cover;
}
.container{
	width: 360px;
	height: 440px;
	margin: 8% auto;
	background: #1B1B1B;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
h3{
	text-align: center;
	margin-bottom: 40px;
	color: #fff;
}
.container form{
	width: 280px;
	position: absolute;
	top: 100px;
	left: 40px;
	transition: 0.5s
}
form input{
	width: 100%;
	padding: 10px 5px;
	margin: 5px 0;
	border: 0;
    color: #fff;
    caret-color: #FF3838;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
::placeholder{
	color: #fff;
}
.sign-in{
    color: #00B3FC;
    font-size: 12px;
    text-decoration: none;
}
.btn-box{
	width: 100%;
	margin: 30px auto;
	text-align: center;
}
.proceed{
    text-decoration: none;
    color: #fff;
    width: 110px;
	height: 35px;
	margin: 0 10px;
    padding: 1px 30px;
	background: transparent;
	border-radius: 30px;
	border: 1px solid #fff;
	outline: none;
	color: #fff;
	cursor: pointer;
}
.proceed:hover{
    border: 1px solid #FF3838;
    background: #FF3838;
    transition: 1s;
}
form button{
	width: 110px;
	height: 35px;
	margin: 0 10px;
	background: transparent;
	border-radius: 30px;
	border: 1px solid #fff;
	outline: none;
	color: #fff;
	cursor: pointer;
}
form button:hover{
    border: 1px solid #FF3838;
    background: #FF3838;
    transition: 1s;
}
#step2{
	top: 450px;
}
#step3{
	top: 450px;
}
.step-row{
	width: 360px;
	height: 40px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	box-shadow: 0 -1px 5px -1px #000;
	position: relative;
}
.step-col{
	width: 120px;
	text-align: center;
	color: #333;
	position: relative;
}
#progress{
	position: absolute;
	height: 100%;
	width: 120px;
	background: linear-gradient(to right, #004D9E,#00B3FC);
	transition: 1s;
}
#progress::after{
	content: '';
	height: 0;
	width: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	position: absolute;
	right: -20px;
	top: 0;
	border-left: 20px solid #00B3FC;
} 