*{
    margin: 0;
    padding: 0;
    font-family: 'Mandali', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(15,15,15,0.7), rgba(15,15,15,0.7)), url(../Image/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 12px 5%;
    justify-content: space-between;
    align-items: center;
    background: #1253B7;
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p{
    color: #fff;
    margin-left: 10px;
    font-size: 40px;
}
nav img{
    width: 100px;
    transition: 0.5s;
}
nav img:hover{
    transform: scale(1.1);
}
.links{
    flex: 1;
    text-align: right;
}
.links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.links ul li a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: 0.5s;
}
.links ul li a:hover{
    color: #FF5050;
}
.links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #000;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.links ul li:hover::after{
    width: 100%;
}
.ctg{
    background-color: #1B1B1B;
    padding: 1% 5%;
    text-align: center; 
    animation-name: bg;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes bg{
    0% {background-color: #1B1B1B;}
    50% {background-color: #6F6F6F;}
    100% {background-color: #1B1B1B;}
}
.ttxt{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}
.col{
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 3% 12px;
    box-sizing: border-box;
    text-align: center;
}
.row{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.head1{
    font-size: 20px;
    color: #000;
}
.head2{
    font-size: 16px;
    color: #000;
    text-align: justify;
    margin: 10px;
}
.p1{
    font-size: 16px;
    color: #000;
    text-align: justify;
    margin: 10px;
}
.l1{
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 20px;
    color: #fff;
    background: #174992;
}
.l1:hover{
    border: 2px solid #000;
    background: #17A403;
    transition: 1s;
}